* {
    margin: 0;
    padding: 0;
    font-family: jort;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: #080808; */
/*     background-image: url(./images/); */
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: hsl(0, 0%, 90%);
    background-attachment: fixed;
    background-color: #000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    /* background-color: #080808; */

}

.left {
    font-size: 2rem;
    font-family: jort;
    text-shadow: 2px 2px 5px #000;
    color: #ff004f;
}

.po {
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: jort;
    text-shadow: 2px 2px 5px #000;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0 150px 60px;
}

.leftsection {
    font-size: 44px;
    font-family: jort;
    text-shadow: 2px 2px 5px #000;
}

#element {
    color: #ff004f;
}

.firstsection>div {
    width: 30%;
}

.rightsection img {
    width: 100%;

}

.red {
    color: #ff004f;
}

/* -----------------about------------- */

#about {
    padding: 10px 232px;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;

}

.row-1 {
    width: 35%;
    /* margin-left: 80px; */
}

.row-1 img {
    width: 100%;
    height: 500px;
    border-radius: 20px;



}

.row-2 {
    width: 65%;
    margin-left: 120px;
}

.row-2 p {
    text-align: justify;
}


.sub-title {
    font-size: 60px;
    font-weight: 600;
    font-family: jort;
    text-shadow: 2px 2px 5px #000;
    color: #fff;
    margin-bottom: 5px;
}

.tab-title {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links:hover::after {
    width: 100%;
}

.tab-links.active-link::after {
    width: 50%;
}


.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 20px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: flex;
    gap: 7rem;
}

/*    ----------------------- PORTFOLIO ---------------------  */
.sub-title1 {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 125px;
}

#portfolio {
    padding: 0px 100px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;

}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

/* contact */
#contact {
    padding: 0px 100px;
    /* background-image: url(images/a53560c8088900e266880f779dacced7.gif); */

    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
}

.row {
    display: flex;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 65%;
    margin-top: 120px;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: hsl(0, 0%, 90%);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);

}

.btn.btn2 {
    display: inline-block;
    /* background: #ff004f; */
    border: 1px solid #ff004f;
}

.btn.btn3:hover {
    background-color: #218aff;
    border: 1px solid #218aff;
}

.btn.btn3 {
    font-size: 15px;
    display: inline-block;
    background: #ff004f;
    border: 1px solid #ff004f;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    margin-top: 18px;
    font-size: 18px;
    cursor: pointer;
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}

/* media queries  */
/* For devices between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .firstsection {
        margin: 120px 0 150px 0;
    }

    .rightsection {
        width: 100%;
    }

    #about {
        padding: 0 6.8rem;
    }
}

/* For devices between 480px and 768px */
@media (min-width: 480px) and (max-width: 768px) {
    .firstsection div {
        width: 80%;
    }

    .rightsection img {
        width: 105%;
    }

    .firstsection {
        margin: 80px 2.5rem;
    }

    #about {
        padding: 0 2.8rem;
    }

    .row-1 img {
        width: 150%;
    }

    .tab-contents.active-tab {
        display: flex;
        gap: 3rem;
    }

    .row {
        gap: 5rem;
    }

    body {
        background-repeat: repeat;
    }
}

/* For devices between 320px and 480px */
@media (min-width: 320px) and (max-width: 480px) {
    #header nav {
        flex-direction: column;
        margin: 1.5rem 2.5rem 3rem 9rem;
        gap: 1rem;
    }

    .right ul {
        gap: 1rem;
    }

    body {
        background-image: url(images/Screenshot\ 2024-11-22\ 134951.png);
        background-repeat: repeat-y;
    }

    .firstsection {
        display: grid;
        margin: 80px 0 90px -1.5rem;
    }

    .leftsection {
        order: 2;
        margin: 0 2.5rem 0 5rem;
        text-align: justify;
    }

    .rightsection {
        order: 1;
        margin: 0 0 2.5rem 5rem;
        width: 100%;
    }

    .rightsection img {
        width: 130%;
    }

    .row {
        display: grid;
        place-items: center;
        margin-left: -60px;
    }

    .row-1 img {
        width: 217%;
        height: 350px;
    }

    .sub-title {
        font-size: 59px;
        margin-bottom: 2.5rem;
    }

    .row-2 p {
        font-size: 20px;
        color: #fff;
        font-weight: 600;
    }

    nav ul li a {
        font-size: 22px;
    }

    .sub-title1 {
        font-size: 54px;
    }

    .work {
        width: 330px;
    }

    .btn {
        margin-left: 64px;
    }

    #contact {
        margin-left: 60px;
    }

    .row {
        gap: 0;
    }
}

/* For devices with an exact width of 320px */
@media (width: 320px) {
    #header .left {
        font-size: 23px;
    }

    .right ul {
        margin-left: 56px;
        gap: 0.5rem;
    }

    .firstsection {
        display: grid;
        margin: 0 0 6.5rem -7.5rem;
    }

    .leftsection {
        margin-left: 175px;
    }

    .sub-title1 {
        font-size: 33px;
        font-weight: 600;
    }

    #portfolio {
        padding: 0 75px;
    }

    .btn {
        margin-left: 8px;
    }
}

/* For devices between 375px and 480px */
@media (min-width: 375px) and (max-width: 480px) {
    .firstsection {
        display: grid;
        margin: 0 0 6.5rem -1.5rem;
    }

    .sub-title {
        font-size: 53px;
    }

    .row {
        margin-left: -46px;
    }

    .tab-contents.active-tab {
        gap: 4rem;
    }

    #portfolio {
        padding: 0 77px;
    }

    .btn {
        margin-left: 26px;
    }

    .sub-title1 {
        font-size: 42px;
    }

    .right ul {
        margin: 1rem;
    }

    .contact-right {
        width: 113%;
        margin-top: 60px;
    }
}

